.m-0 {
  margin: 0;
}
.m-4 {
  margin: 4px;
}
.m-8 {
  margin: 8px;
}
.m-12 {
  margin: 12px;
}
.m-16 {
  margin: 16px;
}
.m-24 {
  margin: 24px;
}

.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}

.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
